extends ../layouts/dashboard.pug

block config
    - var pageTitle = 'Static Navigation'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug
        
        .card.mb-4
            .card-body
                p.mb-0.
        
        div(style='height: 100vh;')
            
        .card.mb-4
            .card-body
