footer.py-4.bg-light.mt-auto
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Made With ❤ by Team 4 Underdogs <br>&copy; OnUp, 2022
            div
                a(href='#') Privacy Policy
                | 
                | &middot;
                | 
                a(href='#') Terms &amp; Conditions
