table#datatablesSimple
    thead
        tr
            th Name
            th Position
            th Location
            th Age
            th Start date
            
    tfoot
        tr
            th Name
            th Position
            th Location
            th Age
            th Start date
            
    tbody
        tr
            td Yash Kakade
            td Team Member
            td Pune
            td 19
            td 2022/03/26
           
        tr
            td Om Shejul
            td Team Member
            td Pune
            td 63
            td 2022/03/26

        tr
            td Gurmehar Singh
            td Team Member
            td Pune
            td 66
            td 2022/03/26
           
        tr
            td Siddhesh Singh
            td Team Member
            td Pune
            td 22
            td 2022/03/26