<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OnUp-Patron Website</title>
  <meta content="" name="description">
  <meta content="funding, project work, money, donations, cash, project money, benefactor" name="keywords">

  <!-- Favicons -->
  <link href="{{ STATIC_URL }}static/img/favicon.png" rel="icon">

  

  <!-- Vendor CSS Files -->
  <link href="{{ STATIC_URL }}static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ STATIC_URL }}static/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#"><img src="{{ STATIC_URL }}static\img\onup.svg"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--<a href="index.html" class="logo"><img src="On up.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>          
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto " href="#services">Roles</a></li>
          <li><a class="nav-link scrollto " href="#work">work</a></li>
         <!---- <li><a class="nav-link scrollto" href="#blog">Blog</a></li>-->        
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li class="dropdown"><a href="#"><span>Settings</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
              {% comment %} <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> {% endcomment %}
              {% comment %} <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> {% endcomment %}
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Landing Page Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url({{ STATIC_URL }}static/img/gradient\ bg\ op4.png)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">We are OnUp</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Patrons, Pitchers, Community Builder, Partnerships for goals"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Landing Page Section -->





   <!-- ======= About Section ======= -->
   <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">               
                  </div>
                  <div class="col-sm-6 col-md-7">                    
                  </div>
                </div>        
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About Us
                    </h5>
                  </div>
                  <p class="lead">
                    Have you ever had a billion dollar idea? You think about it pretty far ahead but get stuck at one point, i.e, FUNDING!
                  </p>
                  <p class="lead">
                   These is where we come to help you. Welcome to OnUp, a site where we connect patrons to thinkers, so you do not have to worry about funding anymore.
                  </p>
                  <p class="lead">
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- End About Section -->





  <main id="main">

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Roles
              </h3>
              <p class="subtitle-a">
                Have an understanding of the various roles and the work they peroform, click on the icon to register for that particular role.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Community Builders</h2>
                <p class="s-description text-center">
                  Community builders are organizers for the event. Universities or other entities that are ready to host
                  offline event for the pitch fall under this role. Click on the icon to register for this role.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Patrons</h2>
                <p class="s-description text-center">
                  Patrons are donators, who will judge the pitch by the program developers and will vote for the best pitch, who will then 
                  recieve the prize pool which is a contribution of the money offered by the donators. Click on the icon to register for this role.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Project Developers</h2>
                <p class="s-description text-center">
                  \Need funding for the brilliant idea you though of? Click on the icon to register
                  start pitching to impress the patrons and get funding for your idea.
                </p>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </section>
    <!-- End Services Section -->










    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url({{ STATIC_URL }}static/img/statistics-overlay2.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-cash-stack"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="1500000" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">TOTAL DONATIONS RECIEVED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">PROJECTS FUNDED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="2400" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text"> PATRONS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-lightbulb"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="23000" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">IDEAS PITCHED</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->









    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Best of our Projects
              </h3>
              <p class="subtitle-a">
                Have a look at the best projects pitched
              </p>              
              <div class="line-mf">
              </div>
              <h1>Coming Soon</h1>
            </div>            
          </div>
        </div>
        <div class="contentforPortfolio"></div>        
        </div>
      </div>
    </section><!-- End Portfolio Section -->







    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url({{ STATIC_URL }}static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{ STATIC_URL }}static/img/Gms.JPG" alt="" class="rounded-circle b-shadow-a" width="200" height="200">
                      <span class="author">Gurmehar Singh</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        2nd year student at MIT ADT University
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{ STATIC_URL }}static/img/om.jpg" alt="" class="rounded-circle b-shadow-a" width="200" height="200">
                      <span class="author">Om Shejul</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        2nd year student at MIT ADT University
                      </p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{ STATIC_URL }}static/img/tha yash k.jfif" alt="" class="rounded-circle b-shadow-a" width="200" height="200">
                      <span class="author">Yash Kakade</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        2nd year student at MIT ADT University
                      </p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{ STATIC_URL }}static/img/sidd.jpg" alt="" class="rounded-circle b-shadow-a" width="200" height="200">
                      <span class="author">Siddhesh Singh</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        2nd year student at MIT ADT University
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End testimonial item -->

               
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonials Section -->

   


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ STATIC_URL }}static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message Us
                      </h5>
                    </div>
                    <div>
                      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        Any suggestion or ideas that can be implemented, which will further make the website better,
                        Please contact us so we can make this website better and easy for everyone to use.
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span>  MIT SOE, LONI KALBHOR, PUNE, INDIA</li>
                        <li><span class="bi bi-phone"></span>(+91)774582XXXX</li>
                        <li><span class="bi bi-envelope"></span>onup.contact@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100079504524621"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                        <li><a href="https://www.instagram.com/OnUp__"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>             
                        <li><a href="mailto:onup.contact@gmail.com"><span class="ico-circle"><i class="bi bi-envelope"></i></span></a></li>             
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  

  <footer class="py-4 bg-light mt-auto mx-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted mx-auto">Made With ❤ by Team 4 Underdogs <br>&copy; OnUp, <script>document.write(new Date().getFullYear())</script></div>
            <div class="mx-auto">
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ STATIC_URL }}static/vendor/purecounter/purecounter.js"></script>
  <script src="{{ STATIC_URL }}static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ STATIC_URL }}static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ STATIC_URL }}static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ STATIC_URL }}static/vendor/typed.js/typed.min.js"></script>
  <script src="{{ STATIC_URL }}static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ STATIC_URL }}static/js/main.js"></script>

</body>

</html>
